@import url("./fonts.css");

:root {
  font-family: 'Ampero', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #212529;
  background-color: #EBEBEB;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
}

.font-light {
  font-weight: 200;
}

/* -------------------------------------------------------------------------- */
/*                                   Swipper                                  */
/* -------------------------------------------------------------------------- */

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}


.swiper {
  width: 100dvw;
  max-height: 100dvh;
}


.child {
  padding: 40px;

}

.first {
  text-align: right;
  height: 100%;
  width: 100%;

}

.img {
  width: 450px;
  height: 600px;
  object-fit: contain;
}

.second {

  display: flex;
  position: relative;
  flex-direction: column;
  gap: 5px;
  padding-left: 0;
}

/*creeaza pentru cart potrivirea pe toate ecranele*/
.cart {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 50px;
  right: 50px;
}

.percent {
  color: white;
  border: 2px solid #FF3A68;
  border-radius: 5px;
  width: max-content;
  padding: 1px;
  padding-inline: 12px;
  background-color: #FF3A68;

}

#title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.availability {
  display: inline-flex;
  gap: 20px;
}

.vertical-line {
  background-color: #212529;
  width: 1px;
  height: 100%;
}

.availability span {
  font-weight: 300;
}

.price {
  display: flex;
  flex-direction: column;
}

.line-through{
  text-decoration-line: line-through;
}

.original-price {

  font-weight: 700;
  font-size: 32px;
  color: #abb8c3;
}

.discount-price {
  font-size: 60px;
  color: #FF3A68;

  font-weight: 700;
}

.about {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.about h5 {
  font-weight: 500;
}

.count {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  width: max-content;
  color: #242424;
  height: 100%;
}

.checkout {
  display: flex;
  align-items: center;
  gap: 20px;
}

.count span {

  cursor: pointer;
  padding: 3px 8px 3px 8px;
  font-weight: 500;

}

.button {
  cursor: pointer;
  border: none;

  background-color: #231F20;
  padding: 15px;
  height: 100%;
  border-radius: 5px;
  width: 250px;

}

.fa-cart-shopping {
  margin: 0px 5px 0px 5px;
}

hr {
  width: 90%;
  margin-left: 0px;
}

.details-item {
  display: flex;
  gap: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.font-size-sm {
  font-size: medium;
}

@media only screen and (max-width: 768px) {

  .container {

    grid-template-columns: 1fr;
    flex-direction: column;
    overflow: visible;

  }

  .child {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;

  }

  .first {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }

  .img {
    height: 100%;
    width: 100px;
  }

  .font-size-sm {
    font-size: small;
  }

  #title {
    font-size: 1rem;
    line-height: normal;

  }

  .original-price {
    font-size: 12px;
  }

  .discount-price {
    font-size: 22px;
  }


  .button {
    width: 190px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 986px) {

  .container {
    grid-template-columns: 1fr;
  }

  .child {
    padding: 5px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .first {
    height: 250px;
    background-color: white;
    text-align: center;
  }

  .second {
    gap: 0;
  }

  .img {

    height: 250px;
    width: 150px;

  }

  .font-size-sm {
    font-size: medium;
  }

  #title {
    font-size: 20px;
  }

  .original-price {
    font-size: 15px;
  }

  .discount-price {
    font-size: 30px;
  }

  .checkout {
    height: 40px;
  }

  .button {
    width: 200px;
  }
}

@media (max-width: 768px) {

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}





/* -------------------------------------------------------------------------- */
/*                                    Cart                                    */
/* -------------------------------------------------------------------------- */



#cartView {
  display: none;

}


#cartView.visible {
  display: block;
  padding: 30px;
  position: absolute;
  z-index: 10;
  height: 100dvh;
  width: 100dvw;
  background-color: #abb8c3;

}

.exit {
  display: flex;
  justify-content: end;
  font-size: 20px;
}
/* -------------------------------------------------------------------------- */
/*                                    Table                                   */
/* -------------------------------------------------------------------------- */

#productContainer {
  display: flex;

}

.product-table {
  width: 100%;
  margin-top: 40px;
}

.th-name {
  text-align: left;
}

.td-name-photo {
  font-size: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  text-align: left;
}

.td-name-quantity {
  text-align: center;
}